/* Header */
header {
    background-color: #EAC926;
    text-align:center;
    height:justify
}

header div.logo{
  background-color: #eac980;
    
}

header div.logo{
    padding: 35px;
    column-width: 140px;
    position:absolute;
}
header div.top-header p{
    font-weight: bold;
    width: 50%;
    text-align: center;
    margin-top: 10px;
}
search-bar {
    width: 400px;
    height: 100px;
    display: inline;
    background-color: #eaeaea;
    border: solid 0.5px black;

}
header nav {
    font-size: 12px;
    display:none;
    
}

header nav ul {
    list-style-type:none;
   
}
 ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow:auto;
    background-color: #eac980;
    display:inline-block;
    flex-wrap:wrap ;
 }
                        
li {
    float: left;
    }
                        
    li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
                        }
                        
    li a:hover {
    background-color: blue;
    }
                       
/*sin subrayado y color de fuente y saco bullets*/

header ul {
    list-style-type:none;
    margin: 0;
    padding: 20px;
    display: inline;
    text-align: center;
}

header ul li a {
    list-style-type: none;
    text-decoration: none;
    display: inline;
    width: 60px;
    color: blue;
    background-color: #dddddd;
}
  
  p {
    font-size: 3vw; 
  }
  
  
  p {
    font-size: 3vw; 
  }

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

div.burger-menu{
    text-align: center;
}
div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    padding: 10px;
}

/*circulito que va cargando la pagina-mio*/
.spinner,.spinner:after{
    width: 64px;
    height: 64px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 50%;
    z-index: 2
 }
.spinner {
    background-color: transparent;
    border-top: 10px solid rgb(66,139,202);
    border-right: 10px solid rgb(66,139,202);
    border-bottom: 10px solid rgb(66,139,202);
    border-left: 10px solid rgba(66,139,202,.2);
    transform: translateZ(0);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: .8s;
    animation-name: spinner-loading
 }
@keyframes spinner-loading{
  0% {
      transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
  }
}
