<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            span {
              float: left;
              width: 0.7em;
              font-size: 400%;
              font-family: algerian, courier;
              line-height: 80%;
            }
            </style>
<p><span>Y</span>a estás loguead@.</p>        