<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
   
           <footer class="footer">

            <!-- leyendas -->
            <div class="leyendas">

                
      
            <div>
                <i class="fas fa-gift"></i>
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p>    
            </div>
    
            <div>
                <i class="fas fa-user-shield"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegido.</p>
           
                <p>copywrite &copy; 1999-2021 <strong>MercadoLiebre S.R.L. </strong><em>by Vale</em></p>
                
            </div>             
            
</footer>
        
    </body>
</html>