<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <body>
        <header class="main-header">
            <div class="logo-search">
                <div class="main-header-top-bar">
                    <img src="/images/logo-mercado-liebre.svg" class="logo" >
                    
                    <div class="buscador">
                        <input type="text">
                        <div class="icono">
                            🔎
                        </div>
                    </div>

                    <h2 class="copy-header">
                        <i class="fas fa-hand-holding-usd"></i>
                        Comprá en cuotas y sin tarjeta de crédito
                    </h2>
                </div>
                
            </div>
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
    
                <ul class="right-navbar">
                    <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>

            </nav>
        </header>
       
    </body>
</html>